table.gridtable {
    margin:0 auto;
    width:95%;
    overflow:auto;
    font-size:14px;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    font-family: helvetica,arial,sans-serif;
    border-style: solid;
    color:#000000;

}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;

}